/* цвет основного текста background: #212121;*/
/* цвет вторичного текста : #757575;*/
/* цвет акцента background: #2196F3;*/
:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --link-text-color: #ffffff;
  --background-hero-footer-color: #2f303a;
  --contact-footer-text-color: rgba(255, 255, 255, 0.6);
  --btn-portfolio-color: #f5f4fa;
  --icon-client-color: #afb1b8;
  --btn-activ-color: #188ce8;
}

.body {
  font-family: Roboto, Raleway, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--link-text-color);
}
/* сброс стилей*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.none-link {
  text-decoration: none;
}
/*Скрытый загловок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка сайта*/
/* Стили логотипа*/

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-line {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-right: 93px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-header {
  color: var(--primery-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-footer {
  color: var(--link-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.site-nav .link-activ {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: block;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-activ {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
}

.current::after {
  content: '';
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-text-color);
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: block;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.link {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/*Icon header*/
.icon-h-em {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-h-sm {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-h-em:hover,
.icon-h-em:focus,
.icon-h-sm:hover,
.icon-h-sm:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}

/* end icon header*/

/* icon faetcher*/
.feat1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 244, 250, 1);
  height: 120px;
  margin-bottom: 30px;
}
.item-feat {
  width: 270px;
}

.iconfeat {
  width: 70px;
  height: 70px;
}
/* end icon faetcher*/

/* иконки соц.сетей*/
.list-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  margin: auto;
}
.list-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-client-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-social-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.list-social {
  margin-top: 16px;
}
.icon-list-social {
  width: 20px;
  height: 20px;
}

.list-social .list-social-item:not(:last-child) {
  margin-right: 10px;
}

.list-social-item > a:focus {
  background-color: var(--accent-text-color);
  border-radius: 50%;
  cursor: pointer;
  color: var(--link-text-color);
  fill: var(--link-text-color);
}

.list-social-link:hover {
  background-color: var(--accent-text-color);
  border-radius: 50%;
  cursor: pointer;
  color: var(--link-text-color);
  fill: var(--link-text-color);
}

/* END  иконки соц.сетей*/

.address .list-social-item .contact {
  margin: 0px;
}

.contact-link .link {
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:not(:first-child) {
  margin-left: 50px;
}

/* Ссылки и контакты в хедере и футере*/
.site-nav .link-activ:hover,
.site-nav .link-activ:focus,
.contact-link .link:focus,
.contact-footer .link:hover,
.contact-footer .link:focus,
.contact-link .link:hover {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}
.site-nav .current {
  color: var(--accent-text-color);
}

/* Студия, текст и заголовки*/

.section {
  padding-bottom: 0px;
  padding-top: 94px;
}
.section-work {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-client {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-one-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-one-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
  width: 270px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 50px;
}
.section-two-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.list-section .item-overlay:not(:first-child) {
  margin-left: 30px;
}
.list-section .item-comand:not(:first-child) {
  margin-left: 30px;
}
.item-overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
}
.activities-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 30px 0px 27px 0px;
  color: var(--link-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* Наша команда*/
.comand {
  padding: 30px 30px;
}
.section-color {
  background: var(--btn-portfolio-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-three-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  line-height: 1.18;
  text-align: center;
  margin-top: 10px;
}
.list-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-section .item-comand {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--link-text-color);
}

/* Постоянные клиенты*/
.client-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 50px;
}

.list-section-client {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-section-client .link-client:not(:last-child) {
  margin-right: 30px;
}
.icon-client {
  width: 106px;
  height: 60px;
}

.link-client-a {
  color: var(--accent-text-color);
  width: 170px;
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--icon-client-color);
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-client-a:hover,
.link-client-a:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

/*END CLIENT*/

/* Портфолио, текст и загловки */
/*заголовок по стилю :совпадает с боди*/
.text-porfolio {
  line-height: 1.87;
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.title-porfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}
.one-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.one-portfolio .one-portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.two-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}
.two-portfolio-item {
  margin-top: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 3);
  border: 1px solid#EEEEEE;
}
.two-portfolio-a:hover,
.two-portfolio-a:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.two-portfolio-a {
  display: block;
  color: var(--secondary-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box {
  padding: 20px 24px;
}
.section-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-descrp {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
  color: var(--link-text-color);
  text-align: center;
  padding: 64px 23px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-style: normal;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.two-portfolio-a:hover .portfolio-descrp,
.two-portfolio-a:focus .portfolio-descrp {
  transform: translateY(0%);
}
/* HERO */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/Img.svg);
  background-color: var(--background-hero-footer-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--link-text-color);
  text-align: center;
  margin-bottom: 30px;
}

/* Footer*/
.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
  background-color: var(--background-hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer .logo {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
.contact-footer .footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.container-footer {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-social {
  display: flex;
  align-items: baseline;
}

.link-footer {
  font-family: inherit;
  color: var(--contact-footer-text-color);
}

.address-footer {
  color: var(--link-text-color);
}
.address {
  font-style: normal;
}
.address-footer:focus,
.address-footer:hover,
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-text-color);
}

.title-footer-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social1 {
  margin-left: 70px;
  margin-right: 76px;
}

.icon-list-social-footer {
  fill: var(--link-text-color);
  height: 20px;
  width: 20px;
}

/*Расслыка в футере*/

.btn-subsckript {
  position: relative;

  font-weight: 700;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  margin-top: 20px;

  color: var(--link-text-color);
  background-color: var(--accent-text-color);

  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  cursor: pointer;

  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subsckript:hover,
.btn-subsckript:focus {
  background-color: var(--btn-activ-color);
}

.telegram-icon {
  position: absolute;
  right: 28px;
  bottom: 13px;
  margin-left: 10px;
}

.form-sub {
  display: inline-block;
  flex-direction: column;
  margin-left: auto;
}
.form-sub input {
  background-color: var(--background-hero-footer-color);
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15);

  border-radius: 4px;
}
.subs {
  display: inline-flex;
  align-items: center;
}
/* end рассылка*/

/* button */

.btn-hero {
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--link-text-color);
  background-color: var(--accent-text-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(-btn-portfolio-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--btn-activ-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--link-text-color);
  cursor: pointer;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--link-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.01);
  border-radius: 4px;
}

/* МОДАЛЬНОЕ ОКНО*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;

  background-color: var(--link-text-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--link-text-color);
  border: 1px solid var(--icon-client-color);
}

.close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-btn:hover,
.close-btn:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.form-modal {
  position: relative;
}
.form-field {
  position: relative;

  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.form-input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.form-field:focus-within .icon-form {
  fill: var(--accent-text-color);
}
.form-comment:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.form-input {
  width: 448px;
  padding: 12px;
  padding-left: 40px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.form-comment {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  padding: 16px 12px;
  width: 448px;
  height: 120px;
  resize: none;
  border-radius: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
}

.btn-form {
  width: 200px;
  height: 50px;
  border-radius: 4px;

  background-color: var(--accent-text-color);
  color: var(--link-text-color);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover,
.btn-form:focus {
  background-color: var(--btn-activ-color);
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-com {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  border-radius: 4px;
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 30px;

  width: 18px;
  height: 18px;
}

.form-field-com {
  position: relative;
  width: 448px;
  height: 138px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-field-com label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.terms {
  display: inline-block;
  color: var(--accent-text-color);
  text-decoration-color: var(--accent-text-color);
}

.policy-check .terms:focus {
  outline-style: solid;
  outline-color: var(--accent-text-color);
}
.policy-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.checkbox-hidden {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check-box {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--primery-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-hidden:checked + .check-box {
  background-image: url(../images/iconcheck.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;

  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.checkbox-hidden:focus + .check-box {
  border-color: var(--accent-text-color);
}
