@media screen and (max-width: 767.99px) {
  .header-box {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-nav__item,
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    display: block;
  }
  .site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .header-box {
    width: 768x;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    display: block;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
      fill: var(--accent-text-color);
    }
  }
  .current {
    color: var(--accent-text-color);
    font-weight: 500;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color 250ms var(--transition-cubic);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
    &::after {
      content: '';
      position: absolute;

      display: block;
      width: 100%;
      height: 4px;

      background-color: var(--accent-text-color);
      left: 0px;
      bottom: 0px;
      border-radius: 2px;
    }
  }

  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav__link .current {
    color: var(--accent-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-nav__link {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    display: block;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
      fill: var(--accent-text-color);
    }
  }
  .current {
    color: var(--accent-text-color);
    font-weight: 500;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color 250ms var(--transition-cubic);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
    &::after {
      content: '';
      position: absolute;

      display: block;
      width: 100%;
      height: 4px;

      background-color: var(--accent-text-color);
      left: 0px;
      bottom: 0px;
      border-radius: 2px;
    }
  }

  .site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav__link .current {
    color: var(--accent-text-color);
  }
}
