@media screen  and (max-width:767px){
  .hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 767px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/mobile/hero/1xheromob.jpg");
  background-color: var(--background-hero-footer-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)
     rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/2xheromob.jpg");
  }
}



.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  color: var(--link-text-color);
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}
.hero__btn {
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--link-text-color);
  background-color: var(--accent-text-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-activ-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--link-text-color);
    cursor: pointer;
  }
}
}

@media screen  and (min-width:768px) {
  .hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    min-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero/1xhtab.jpg);
    background-color: var(--background-hero-footer-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)
     rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/2xhtab.jpg");
  }
}
  
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-transform: uppercase;
    color: var(--link-text-color);
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
  }
  .hero__btn {
    display: inline-block;
    font-size: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--link-text-color);
    background-color: var(--accent-text-color);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: var(--btn-activ-color);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      color: var(--link-text-color);
      cursor: pointer;
    }
  }

}

@media screen  and (min-width:1200px){
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/desktop/hero/1xhdes.jpg);
  background-color: var(--background-hero-footer-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)
     rgba(47, 48, 58, 0.4)), url("../images/hero/2xhdes.jpg");
  }
}
  

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--link-text-color);
  text-align: center;
  margin-bottom: 30px;
}

.hero__btn {
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--link-text-color);
  background-color: var(--accent-text-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-activ-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--link-text-color);
    cursor: pointer;
  }
}
}