.section-feat {
  padding-bottom: 0px;
  padding-top: 94px;
}
.feat1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 244, 250, 1);
  height: 120px;
  margin-bottom: 30px;
}
.section-feat__item {
  width: 270px;
}

.section-feat__icon {
  width: 70px;
  height: 70px;
}
.section-feat__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
  width: 270px;
}
.section-feat__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-feat__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
