
.section-client
{
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .section-client {
    width: 320px;
  }
  .section-client__titl {
    @include font(28px, 1.17, 0.03em, 700);
    text-align: center;
    margin-bottom: 30px;
    color: var(--primery-text-color);
  }
.section-client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

  .section-client__item {
    height: 92px;
    display: flex;
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

}

@media screen and (min-width: 480px) {
  .section-client {
    width: 480px;
  }
 
}

@media screen and (min-width: 768px) {
  .section-client {
    width: 768px;
  }
  .section-client__titl {
    @include font(28px, 1.17, 0.03em, 700);

    text-align: center;
    margin-bottom: 30px;
    color: var(--primery-text-color);
  }

  .section-client__item {
    height: 92px;
    display: flex;
    margin: 15px;

    flex-basis: calc((100% - 90px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .section-client {
    padding-bottom: 94px;
    padding-top: 94px;
    width: 1200px;
  }
  .section-client__titl {
    @include font(36px, 1.16, 0.03em, 700);

    text-align: center;

    color: var(--primery-text-color);
    margin-bottom: 50px;
  }

  .section-client__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}
.section-client__list {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}
.section-client__icon {
  width: 106px;
  flex-wrap: wrap;
  height: 60px;
}

.section-client__link {
  color: var(--accent-text-color);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--icon-client-color);
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}
