.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-right: 93px;
  text-decoration: none;
}

.logo__header {
  color: var(--primery-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__footer {
  color: var(--link-text-color);
}
