@media screen  and (max-width:767.99px) {
 
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
 
}
.logo__header {
  color: var(--primery-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

 
}

@media screen  and (min-width:768px){
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
 
  text-decoration: none;
  text-align: center;

}
.header .logo {
  margin-right: 88px;
}
.logo__header {
  color: var(--primery-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

}

@media screen  and (min-width:1200px){
  .header .logo {
    margin-right: 93px;
  }
  }
  
   .anime{animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;}

  
.logo__footer {
  color: var(--link-text-color);
}  