.body {
  font-family: Roboto, Raleway, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--link-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
