
//---0-480---//
@media screen and (max-width: 480px) {
  .container {
 max-width: 480px;
 padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  }
}
//---480-768---//
@media screen and (min-width: 480px) {
  .container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  }
}
//---768-1199---//
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
   
  }
}
//---1200 + ---//
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  
  }
}


.footer__container {
  display: block;
  margin-bottom: 20px;
}
