.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container,.footer__container {
      width:320px;}
  }

@media screen and (min-width: 480px) {
  .container, .footer__container {
      width:480px;
  }

}
@media screen and (min-width: 768px) {
  .container, .footer__container {
      width:768px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .footer__container {
      width:1200px;
  }
}

.footer__container{
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
