:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --link-text-color: #ffffff;
  --background-hero-footer-color: #2f303a;
  --contact-footer-text-color: rgba(255, 255, 255, 0.6);
  --btn-portfolio-color: #f5f4fa;
  --icon-client-color: #afb1b8;
  --btn-activ-color: #188ce8;
}
